*,
*::before,
*::after {
  background-color: #ecf0f1;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.bin2dec {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-flow: column-reverse;
}

.bin2dec__aside {
  background-color: #bdc3c7;
  display: none;
  align-items: center;
  justify-content: center;
  height: auto;
  min-height: 50px;
  width: 100%;
  margin-bottom: 2.5rem;
}

.bin2dec__container {
  padding: 10px;
}

.bin2dec__title {
  font-size: 2rem;
  margin-bottom: 2.5rem;
  text-align: center;
}

.bin2dec__description {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  text-align: center;
}

.bin2dec-form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.bin2dec-form-group {
  margin-bottom: 1rem;
}

.bin2dec-form-label {
  font-weight: bold;
}
.bin2dec-form-label::after {
  content: ":";
}

.bin2dec-form-control {
  border: 1px solid #95a5a6;
  border-radius: 5px;
  display: block;
  padding: 10px;
  width: 100%;
}

@media (min-width: 301px) {
  .bin2dec__aside {
    display: flex;
  }
}

@media (min-width: 350px) {
  .bin2dec-form {
    flex-direction: row;
  }

  .bin2dec-form-group {
    width: 100%;
    max-width: 49%;
  }
}

@media (min-width: 771px) {
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .bin2dec {
    flex-direction: row;
    flex-flow: row;
  }

  .bin2dec__aside {
    height: 600px;
    width: 100%;
    max-width: 300px;
  }
}
